* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    border: 0;
    margin: 0;
    outline: none;
    color: white;
    text-shadow: black 0 0 5px;
}

html {
    font-size: 18px;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: url(../resources/kevin-mccutcheon-TcSckNRL9J8-unsplash.jpg);
    background-position: left 50% top 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-weight: 400;
}

strong {
    font-weight: 800;
    text-shadow: gold 0 0 5px;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;
    font-size: .9rem;
    font-weight: 200;
    text-align: right;
}